-# Locals for this partial:
-#   model      - the object that may have errors
-#   model_name - (optional) what to say could not be saved.  E.g., "user" or "user's password".
- model_name ||= nil
-if model.errors.any?
  #error_explanation
    %h2= "#{pluralize(model.errors.count, "error")} prohibited this #{model_name || model.class.name.humanize.downcase} from being saved:"
    %ul
      - model.errors.full_messages.each do |msg|
        %li= msg
