@import "variables";

label {
  display: inline-block;
  min-width: 110px;
}

// Put a label and input in a .field div.
.field {
  margin-top: 10px;
}

// Put form buttons in a .actions div.
.actions {
  background-color: $formActionsBackground;
  border-top: 1px solid $formActionsTopBorder;
  padding: 20px;
  margin: 20px 0;

  input[type=submit], input[type=button], button {
    margin-right: 10px;
  }
}

input[type=text], input[type=password], input[type=email] {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.field_with_errors {
  display: inline-block;
  input {
    border-color: $red;
  }
}