@import "variables";

h1, h2, h3, h4, h5, h6 {
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  color: $headingsColor;
}

h1 {
  border-bottom: 1px solid $grayLighter;
  padding-bottom: 6px;
}

