@import "variables";

input[type=submit], input[type=button], button, .button {
  -webkit-appearance: none;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
}

input[type=submit] {
  background-color: $blue;
  color: $white;
  border-color: darken($blue, 15%);

  &:hover, &:focus {
    background-color: darken($blue, 5%);
  }

  &:disabled {
    background-color: $grayLight;
    color: $grayLighter;
    border-color: $grayLight;
  }
}

input[type=button], button, .button {
  background-color: $grayLighter;
  color: initial;
  border-color: $grayLight;

  &:hover, &:focus {
    background-color: darken($grayLighter, 5%);
  }

  &:disabled {
    background-color: $grayLighter;
    color: $grayLight;
    border-color: #ccc;
  }
}

input[type=checkbox] {
  margin-left: 0;
}