%h1 Password reset
%p Hello, #{@user.name.presence || @user.email}.
%p You have requested a password reset for RailsTemplateApp.
%p
  To choose a new password, click this link:
  = succeed '.' do
    %a{ href: @url }= @url
