@import "variables";

.flash {
  > div {
    margin-bottom: 18px;
    padding: 8px 14px;
    border: 1px solid;
    border-radius: 4px;
  }

  .notice {
    color: $noticeColor;
    border-color: $noticeBorder;
    background-color: $noticeBackground;
  }

  .alert {
    color: $alertColor;
    border-color: $alertBorder;
    background-color: $alertBackground;
  }
}