@import "variables";

.navbar {
  background-color: $navbarBackground;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1) inset, 0px 1px 10px rgba(0, 0, 0, 0.1);

  .brand {
    color: $navbarBrandColor;
    font-weight: bold;
    font-family: $headingsFontFamily;
    font-size: 20px;
    text-shadow: white 0 1px 0;
    padding: 3px 20px 6px;
    display: inline-block;
    margin-top: 3px;
    margin-left: 20px;
    text-decoration: none;

    &:hover {
      color: $navbarLinkColorHover;
      text-shadow: black 0 1px 0;
      background-color: $navbarLinkBackgroundHover;
      border-radius: 4px;
    }
  }

  ul {
    font-size: 13px;
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }

  > ul {
    float: right;
    padding: 12px 20px 12px 0;
    margin-right: 20px;
  }

  a {
    color: $navbarLinkColor;
    padding: 3px;
    border-radius: 3px;

    &:hover {
      color: $navbarLinkColorHover;
      background-color: $navbarLinkBackgroundHover;
    }
  }
  // Dropdown caret in navbar
  .nav li.dropdown .dropdown-toggle .caret,
  .nav li.dropdown.open .caret {
    border-top-color: $navbarLinkColor;
    border-bottom-color: $navbarLinkColor;
  }
  .nav li.dropdown.open .caret,
  .nav li.dropdown.open.active .caret,
  .nav li.dropdown.open a:hover .caret {
    border-top-color: $navbarLinkColorHover;
    border-bottom-color: $navbarLinkColorHover;
  }
}

