@import "variables";
@import "basics/inputs";

body.user_sessions {
  #remember_me label {
    display: inline;
  }

  .actions {
    margin-top: 0.5em;
    margin-bottom: 2em;
  }

  #reset-password {
    display: none;
  }

  #reset-button {
    @extend .button;
    margin-left: 10px;
  }
}
