= form_tag password_resets_path, method: :post, id: 'reset-password' do
  .field
    = label_tag :reset_email, 'My email is'
    = text_field_tag :reset_email, '', placeholder: t('.reset_email')
    = submit_tag "Reset my password", id: 'reset-button'